body {
    font-family: Nabla;
    background-color: #450693;
}

header {
    font-size: 5em;
    display: flex;
    justify-content: center;
}

.header > * {
    margin: 0px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.scoreboard {
    display: flex;
    flex-direction: row;
    width: 70vw;
    height: 10vh;
    justify-content: space-between;
}

.scoreContainer {
    background-color: #ff3f7f4c;
    height: 100%;
    width: 20%;
    border-radius: 15px;
    border: 7px solid #ff3f7f;
    font-size: 2.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.scoreContainer > * {
    margin: 0px;
}

button {
    background-color: #ff3f7f4c;
    border: 7px solid #FFC400;
    height: 100%;
    width: 8%;
    border-radius: 15px;
    font-size: 3em;
}

button:hover {
    background-color: #58162c4c;
    border-color: #5b4600;
}

.canvas {
    border: 5px solid #FFC400;
    background-color: #f8e091;
    margin-top: 30px;
}

.hidden {
    display: none;
}

.modal {
    position: absolute;
    text-align: left;
    width: 30%;
    height: 35%;
    background-color: white;
    color: #444;
    padding: 4rem;
    border-radius: 5px;
    box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
    z-index: 10;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(3px);
    z-index: 5;
}

.close-modal {
    position: absolute;
    top: 1.2rem;
    right: 2rem;
    font-size: 2rem;
    color: #333;
    cursor: pointer;
    border: none;
    background: none;
}
